<!--<smp_10_table>-->
{% block head %}
<style>
    table {
        width: 40%;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;

    }
    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 1%;
    }
    th {
        background-color: #f2f2f2; /* Цвет фона заголовков */
    }
    tr:nth-child(even) {
        background-color: #f2f2f2; /* Цвет фона четных строк */
    }

.SMP {color: red;}

.json-code {
width: 35   %;
            margin: auto;
            white-space: pre-wrap;
}

.form-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-height: 80vh; /* Ограничиваем высоту окна до 70% высоты видимой области (viewport height) */
  overflow-y: auto; /* Добавляем вертикальную прокрутку, если содержимое не помещается */
  max-width: 100vh;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.show {
  display: block;
}

#error-popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #f8d7da;
            border: 1px solid #f5c6cb;
            border-radius: 5px;
        }







</style>
{% endblock %}

<div id="error-popup">
    <p id="error-message">Ошибка</p>
    <button onclick="closeErrorPopup()">Закрыть</button>
</div>





<button onclick="toggleForm()">Открыть форму</button>
<div id="myForm" class="form-container">
    <form class="form-content" method="GET">
        <!-- Ваша форма здесь -->
        {{ form.as_p }}
        <input type="submit" value="Отправить">
    </form>
</div>

<script>
    function toggleForm() {
        var form = document.getElementById("myForm");
        if (form.style.display === "none" || form.style.display === "") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }

</script>


<table>
    <caption>{{ table_name }}</caption>
    <thead>
    <tr>
        <th>Территория</th>
        {% for h in header %}
        <th>{{ h }}</th>
        {% endfor %}
        <th>СМП</th>
    </tr>
    </thead>
    <tbody>
    {% for i in data %}
    <tr>
        <td>{{ i.territory }}</td>
        {% for year, value in i.data.items %}
        <td>{{ value }}</td>
        {% endfor %}
        <td class="SMP">{{ i.smp }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<hr>


<!--&lt;!&ndash; Здесь подставьте ваш JSON-код &ndash;&gt;-->
<!--<pre class="json-code"> <code>{{ row_data | safe }}</code>-->
<!--</pre>-->